.clothes-section {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clothes-section__add-btn {
  border: none;
  background: transparent;
  color: #00000099;
  padding: 0;
  cursor: pointer;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
