.sidebar {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 229px;
  align-items: flex-start;
  margin-right: 100px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  font-size: 20px;
}

.sidebar__top {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.sidebar__username {
  margin: 0;
  color: #222;
  text-align: left;
}

.sidebar__edit-btn,
.sidebar__signout-btn {
  background: none;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  display: flex;
  gap: 8px;
  padding: 0;
}

.sidebar__edit-btn:hover,
.sidebar__signout-btn:hover {
  color: #4a4a4a;
}
.sidebar__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 627px) {
  .sidebar__avatar {
    width: 48px;
    height: 48px;
  }
  .sidebar {
    width: auto;
    margin-right: 16px;
    gap: 8px;
  }
}
