.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-left: auto;
}

.toggle-switch:hover {
  border-color: #000;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  position: absolute;
  background-color: #000;
  height: 28px;
  width: 28px;
  border-radius: 50px;
  left: 0px;
  transition: all 0.3s;
}

.toggle-switch__text {
  position: absolute;
  color: #7e7e7e;
  top: 5px;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

/* transform: translateX(...)
mix-blend-mode:... */
