.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  color: #00000099;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
}

.card__image {
  width: 100%;
  border-radius: 19px;
  border: 1px solid #0000004d;
}
