.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.cards__text {
  margin: 0 0 34px;
  font-size: 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 164px);
    gap: 16px;
  }

  .cards__text {
    font-size: 20px;
  }
}
