.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  transition: 0.5s ease-in-out;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  line-height: 1;
  font-size: 20px;
}

/* TODO - Still working on responsive design */
/* TODO - Still working on responsive design */
/* TODO - Still working on responsive design */
/* TODO - Still working on responsive design */

.header__menu-btn {
  display: none;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 20px;
  right: 28px;
}

.header__menu-open {
  width: 343px;
  height: 208px;
  background-color: #fff;
  background: white;
  z-index: 10000;
  display: block;
  border-radius: 10px;
  position: relative;
}

.header__menu-open .header__menu-btn {
  display: none;
}

.header__menu-open .modal__close-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 9px;
  top: 9px;
}

.modal__content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.modal__content-header .header__user-container {
  display: flex;
  gap: 10px;
}

.modal__content-header .header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.modal__content-header .header__add-clothes-btn {
  display: block;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .header {
    display: flex;
    align-items: normal;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 20px;
    justify-content: space-evenly;
  }

  .header__logo {
    width: 89px;
    height: 40px;
    margin: 0px;
  }

  .header__date-and-location {
    font-size: 20px;
    line-height: 24px;
    margin: 32px 0 16px;
  }

  .header__add-clothes-btn,
  .header__user-container {
    display: none;
  }

  .header__menu-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    border: none;
    background-color: transparent;
    width: 44px;
    height: 44px;
    right: 12px;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0;
  }
  .header__left_hidden {
    display: none;
  }
}

/* 
@media screen and (max-width: 627px) {
  .header__add-clothes-btn,
  .header__user-container {
    display: none;
  }

  .header__menu-toggle {
    display: block;
    margin-left: auto;
  }

  .header__mobile-menu {
    display: none;
    flex-direction: column;
    background: white;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .header__mobile-menu_open {
    display: flex;
  }

  .header__mobile-add-btn {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .header__mobile-user {
    display: flex;
    align-items: center;
    gap: 12px;
  }
} */
