.modal {
  position: fixed;
}

.modal__content-item {
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #0000004d;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}

.modal__caption {
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.modal__footer {
  padding: 32px;
  position: relative;
}

.modal__delete-btn {
  border: none;
  background: transparent;
  color: #ff4d00;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 32px;
}

.modal__delete-btn:hover {
  opacity: 0.7;
}
